@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  @apply justify-center flex flex-row ;
}

h1 {
  @apply text-4xl font-bold;
}

.option {
  @apply bg-blue-300 text-black h-[40px] mt-5 px-1 py-2 border rounded-md flex justify-between items-center
}

.completed {
  @apply opacity-40 line-through decoration-[3px] decoration-black
}